<section class="about-show">
  <h1>About</h1>
  <p>Selling all the stuff you can find anywhere else on the internet. </p>
  <p>Jungle was founded after watching Connan O Brian & Andy Richter year 2000 skits in 1999</p>
</section> 